.input__main {
  width: 20rem;
  height: 3.5rem;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-right: 2px solid #f9f9f9;
}

.input__main > input {
  flex: 1;
  height: 3rem;
  border: none;
  outline: none;
  font-size: 0.9rem;
  padding-left: 0.5rem;
}
